* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin:0;
    padding:0;
}

.bodycontainer {
    display: grid;
}

/*
Important: The media queries are located
on the bottom of this file.
*/

/*
The following area specifies the orientation and 
styling of the logo.
Our logo is contained in a Flex-Box.

*/

#logocontainer {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    padding: 2px;
    margin-bottom: 3px;
    justify-content: left;
    align-items: center;
    z-index: 10;
}

#logotext {
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    color: #212121;
    margin: 10px;
    position: center;   
}

#logopic {
    margin: 10px;
    width: 5em;
    height: 5em;
    position: center;
}

#indexmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

#indexmain:nth-child(n) {
    color: white;
}

#indexmain h1 {
    margin-top: 50px;
}

#indexmain p {
    color: gray;
    margin-left: 50px;
    margin-right: 50px;
}

#indexmain a {
    text-decoration: none;
    color: dodgerblue;
}

#indexmain a:hover {
    text-decoration: underline;
}

#indexmain i {
    display: inline;
    color: dodgerblue;
;
}

main {
    margin-top: 160px;
    margin-bottom: 170px;
}

/*
The main navigation bar has fixed position
and it is located on to the top of each page.
*/

nav {
    position: fixed;
    top: 100px;
    width: 100%;
    background-color: #212121;
    margin-bottom: 0;
    z-index: 10;
}

/*
Here we use a transition each time
we access a category in the navbar.
*/

nav a {
    display: inline-block;
    padding: 15px;
    color: white;
    font-size: larger;
    text-decoration: none;
    transition: background-color 0.4s;
}

/*
when on hover: the color of the hovered
item gets a different color.
*/

nav a:hover {
    color: #212121;
    background-color: #BDBDBD;
}

body {
    background-color: #eaeaea;
}


.categorytitle {
    font-size: 15pt;
}

#categories_main {
    margin-top: 200px;
    margin-bottom: 150px;
}


a.subcategorytitle {
    color: black;
    text-decoration: none;
}

a:hover.subcategorytitle {
    background-color: #eaeaea;
}


/*
This is a Grid-Layout for the container
of the products-categories page.
The use of minmax avoids the use of media queries
each time the screen size changes. Instead, each grid item
adapts to the available screen space. Moreover, we chose to 
show each grid-item in the center of the page.
*/

.categorycontainer {
    display: grid;
    --categoryitem-min-size: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--categoryitem-min-size), 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

/*
Category items are flex, in order to 
show with the appropriate way.
We also specify min and max width in order
to be shown correctly while resized.
*/

.categoryitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: 300px;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 10px;
    transition: box-shadow 0.25s;
}

.hiddensubcat {
    display: none;
}

/*
When on hover, the categoryitem has a specific
box-shadow.
*/

.categoryitem:hover {
    box-shadow: 0px 0px 3px 4px gray;
}

/*
When we hover on the categoryitem
its elements are extended.
*/

.categoryitem:hover > .hiddensubcat {
    display: block;
}

/*
As we did with the producy-categories,
we use the same grid layout technique to 
products-laptops and products-smartphones.
*/

#productsContainer{
    margin-top: 180px;
}

.categories {
    display: grid;
    --categoryitem-min-size: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--categoryitem-min-size), 1fr));
    grid-gap: 1rem;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.icategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: auto;
    max-width: 300px;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    transition: box-shadow 0.25s;
}

.shortdesc {
    color: #757575;
    font-size: small;
}

.categorytitle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    transition: height 1s, width 1s;
}

.categorytitle img:hover {
    height: 220px;
    width: 220px;
}

section:hover.icategory {
    box-shadow: 0px 0px 3px 4px gray;
}

.categorytitle {
    font-size: medium;
    text-decoration: none;
    color: black;
}

.costcontainer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    align-items: center;
}

#add-to-cart-icon {
    font-size: 20pt;
    margin-right: 10px;
    color: #757575;
}

#add-to-cart-icon:hover {
    color: #504f4f;
    cursor: pointer;
}

#add-to-cart-icon + span {
    display: none;
    color: #4CAF50;
    opacity: 0;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1;}
    100% { opacity: 0; }
}

.costcontainer span {
    display: none;
    font-style: italic;
    color: #757575;
    margin-right: 5px;
}


.pricetag {
    align-self: flex-end;
}


.categorynavbar {
    float: left;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-left: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.loginform {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.greetusercontainer {
    width: 100%;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: 2.5px;
}

.userinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#greetmessage {
    color: #212121;
    font-size: large;
}

.carticonsection {
    font-size: larger;
    position: relative; /* All 'absolute'ly positioned elements are relative to this one */
    padding: 8px;
    z-index: 1;
}

#carticon {
    color: #212121;
    font-size: 20pt;
}

#carticon:hover {
    cursor: pointer;
    color: #504f4f;
}

#add-to-cart-icon {
    color: #212121;
}

.cartcounter {
    position: absolute;
    top: 0;
    right: 0;
    font-size: small;
    color: white;
    background: tomato;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
}


.cartItemsContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: none;
}

.cartItemsContainer h1 {
    margin-top: none;
    align-self: center;
}

.cartitems {
    border-spacing: 40px;
}

.cartitems th{
    text-align: left;
}

.buynowcontainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.cartcostcontainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: center;
}

#totalCostNumber{
    font-weight: bolder;
    margin-right: 10px;
    font-size: x-large;
}

#totalCostText{
    color: #9E9E9E;
    font-weight: bold;
    margin-right: 5px;
}

#buynowbttn {
    width: 100%;
    align-self: flex-end;
    background-color: #212121;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 10px;
}

#buynowbttn:active {
    color: #212121;
    background-color: #9E9E9E;
}


#userinfo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}


section.cfitem {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.cfitem input {
    margin-top: 2.5px;
    margin-bottom: 15px;
}


/*
This is the submit form button on the
contactUs page.
*/

button.cfitem {
    background-color: #212121;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

/*
When the submit button is clicked
it changes color.
*/

button.cfitem:active {
    color: #212121;
    background-color: #bdbdbd;
}

/*
ends with iphone
*/

/*
Our footer has a grid layout too. It 
contains to main items and it is
oriented verticaly.
*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #9E9E9E;
    color: #212121;
}

footer section {
    align-content: center;
    justify-content: center;
    margin: 10px;
}

#footersocials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footersocials h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.footersocialicons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
}

.footersocialicons a {
    display: inline-block;
    font-size: 30pt;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #212121;
}

#footercopyright {
    display: flex;
    flex-direction: row;
}

#footercopyright p {
    margin-left: 10px;
}

footer section img {
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 680px) {
    
    .indexMain.responsive {
        margin-top: 100px;
    }

    #loginform {
        width: fit-content;
        height: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*
The h1 and h2 font adapts, when the
screen gets lower than 600 pixels.
*/

@media screen and (max-width: 600px) {
    #indexmain h1 {
        font-size: 20px;
    }
    #indexmain h2 {
        font-size: 17px;
    }
}


/* FOR TABLET */



@media screen and (max-width: 670px) {

    #productsContainer{
        margin-top: 50px;
    }

    .categorynavbar {
        float: none;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 180px;
    }
}

@media screen and (max-width: 768px) {
    #footersocials {
        font-size: 12px;
    }
    #footercopyright p {
        font-size: 12px;
    }
}

@media screen and (max-width: 570px) {

    footer {
        grid-template-columns: 1fr;
        justify-items: center;

    }
    #footersocials {
        font-size: 10px;
    }
    #footercopyright p {
        font-size: 12px;
    }


}