<section class="iproduct">
    <h3>{{title}}</h3>
    <a class="producttitle" href="" target="_blank">
        <img src="{{ img_url }}" alt="category_logo" height="150" width="150">
    </a>
</section>